body {
    height: 100%;
    width: 100%;
    background-color: #F9DBBD;
    padding-top: 150px;
}

#heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#heart-img {
    height: 100%;
}

#heart:target {
    display: flex;
}

#card-anchor {
    height: 100%;
}

#card {
    height: 60%;
    width: 60%;
    background-color: whitesmoke;
    background-image: url("background.jpg");
    margin: auto;
    display: none;
    padding: 4em;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#card:target {
    display: block;
  }

h1 {
    font-size: 30px;
    text-align: center;
    color: #FF5714
}

html a {
    text-decoration: none;
    color: black;
}




  .shake{
    -webkit-animation:alert 2s ease-in-out 0s infinite normal;
    -moz-animation:alert 2s ease-in-out 0s infinite normal;
    -ms-animation:alert 2s ease-in-out 0s infinite normal;
    animation:alert 2s ease-in-out 0s infinite normal;
    }
    
    @-webkit-keyframes alert {
    0%{ -webkit-transform: translateX(0); transform: translateX(0); }
    5%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    15%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    25%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    35%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    45%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -webkit-transform: translateX(0); transform: translateX(0); }
    }
    
    @keyframes alert {
    0%{ -ms-transform: translateX(0); transform: translateX(0); }
    5%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    15%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    25%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    35%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    45%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -ms-transform: translateX(0); transform: translateX(0); }
    }
    